.bdmp-button {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tools-aes-input-label {
    font-size: 1.05rem !important;
}

input[readonly] {
    cursor: not-allowed;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

button:disabled,
button[disabled],
button[disabled=disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.md-editor-dark {
    background-color: #12121c !important;
}

.ͼo {
    background-color: #151521;
}

.md-editor-resize-operate {
    background-color: rgba(45, 45, 45, 0.225) !important;
}

svg.md-editor-icon {
    width: 27px !important;
    height: 27px !important;
}

.md-editor-preview .md-editor-code .md-editor-code-head .md-editor-code-flag {
    opacity: 0;
}