.bdmp-button {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tools-aes-input-label {
    font-size: 1.05rem !important;
}

input[readonly] {
    cursor: not-allowed;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5 !important;
}

button:disabled,
button[disabled],
button[disabled=disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.md-editor-dark {
    background-color: #12121c !important;
}

.Í¼o {
    background-color: #151521;
}

.md-editor-resize-operate {
    background-color: rgba(45, 45, 45, 0.225) !important;
}

svg.md-editor-icon {
    width: 27px !important;
    height: 27px !important;
}

.md-editor-preview .md-editor-code .md-editor-code-head .md-editor-code-flag {
    opacity: 0;
}

@media (max-width: 420px) {
    html[data-bs-theme="dark"] #main {
        padding: 1.2rem;
    }
}

@-moz-keyframes theSpinsM8 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes theSpinsM8 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes theSpinsM8 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pending-search-indicator {
    animation: thaSpinzM8 666ms linear infinite;
    -moz-animation: thaSpinzM8 666ms linear infinite;
    -webkit-animation: thaSpinzM8 666ms linear infinite;
}