.bdmp-button {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tools-aes-input-label {
    font-size: 1.05rem !important;
}

input[readonly] {
    cursor: not-allowed;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5 !important;
}

button:disabled,
button[disabled],
button[disabled=disabled] {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.md-editor-dark {
    background-color: #12121c !important;
}

.ͼo {
    background-color: #151521;
}

.md-editor-resize-operate {
    background-color: rgba(45, 45, 45, 0.225) !important;
}

svg.md-editor-icon {
    width: 27px !important;
    height: 27px !important;
}

.md-editor-preview .md-editor-code .md-editor-code-head .md-editor-code-flag {
    opacity: 0;
}

@media (max-width: 420px) {
    html[data-bs-theme="dark"] #main {
        padding: 1.2rem;
    }
}

@-moz-keyframes theSpinsM8 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes theSpinsM8 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes theSpinsM8 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pending-search-indicator {
    animation: thaSpinzM8 666ms linear infinite;
    -moz-animation: thaSpinzM8 666ms linear infinite;
    -webkit-animation: thaSpinzM8 666ms linear infinite;
}

.task-list-item-checkbox {
    transform: scale(1.337);
    margin-left: -1.80rem !important;
    margin-right: 8px !important;
}

/* Markdown styles for light theme */

html[data-bs-theme=light] h6,
html[data-bs-theme=light] .h6,
html[data-bs-theme=light] h5,
html[data-bs-theme=light] .h5,
html[data-bs-theme=light] h4,
html[data-bs-theme=light] .h4,
html[data-bs-theme=light] h3,
html[data-bs-theme=light] .h3,
html[data-bs-theme=light] h2,
html[data-bs-theme=light] .h2,
html[data-bs-theme=light] h1,
html[data-bs-theme=light] .h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}

html[data-bs-theme=light] h1,
html[data-bs-theme=light] .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=light] h1,
    html[data-bs-theme=light] .h1 {
        font-size: 2.5rem;
    }
}

html[data-bs-theme=light] h2,
html[data-bs-theme=light] .h2 {
    font-size: calc(1.325rem + .9vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=light] h2,
    html[data-bs-theme=light] .h2 {
        font-size: 2rem;
    }
}

html[data-bs-theme=light] h3,
html[data-bs-theme=light] .h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=light] h3,
    html[data-bs-theme=light] .h3 {
        font-size: 1.75rem;
    }
}

html[data-bs-theme=light] h4,
html[data-bs-theme=light] .h4 {
    font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=light] h4,
    html[data-bs-theme=light] .h4 {
        font-size: 1.5rem;
    }
}

html[data-bs-theme=light] h5,
html[data-bs-theme=light] .h5 {
    font-size: 1.25rem;
}

html[data-bs-theme=light] h6,
html[data-bs-theme=light] .h6 {
    font-size: 1rem;
}

html[data-bs-theme=light] p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* Markdown styles for dark theme */

html[data-bs-theme=dark] h6,
html[data-bs-theme=dark] .h6,
html[data-bs-theme=dark] h5,
html[data-bs-theme=dark] .h5,
html[data-bs-theme=dark] h4,
html[data-bs-theme=dark] .h4,
html[data-bs-theme=dark] h3,
html[data-bs-theme=dark] .h3,
html[data-bs-theme=dark] h2,
html[data-bs-theme=dark] .h2,
html[data-bs-theme=dark] h1,
html[data-bs-theme=dark] .h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
}

html[data-bs-theme=dark] h1,
html[data-bs-theme=dark] .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=dark] h1,
    html[data-bs-theme=dark] .h1 {
        font-size: 2.5rem;
    }
}

html[data-bs-theme=dark] h2,
html[data-bs-theme=dark] .h2 {
    font-size: calc(1.325rem + .9vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=dark] h2,
    html[data-bs-theme=dark] .h2 {
        font-size: 2rem;
    }
}

html[data-bs-theme=dark] h3,
html[data-bs-theme=dark] .h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=dark] h3,
    html[data-bs-theme=dark] .h3 {
        font-size: 1.75rem;
    }
}

html[data-bs-theme=dark] h4,
html[data-bs-theme=dark] .h4 {
    font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
    html[data-bs-theme=dark] h4,
    html[data-bs-theme=dark] .h4 {
        font-size: 1.5rem;
    }
}

html[data-bs-theme=dark] h5,
html[data-bs-theme=dark] .h5 {
    font-size: 1.25rem;
}

html[data-bs-theme=dark] h6,
html[data-bs-theme=dark] .h6 {
    font-size: 1rem;
}

html[data-bs-theme=dark] p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.show-help-text-badge {
    cursor: pointer;
    margin-left: -2px;
    transform: scale(0.7);
}

.hide-help-text-badge {
    cursor: pointer;
    margin-left: 4px;
}